.dashboard {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}
.mydata{
    /* width: 334px;
    height: 360px; */
    padding: 40px 23px 40px 23px;
    border-left: solid rgba(0, 0, 0, 0.046);
    border-top: solid rgba(0, 0, 0, 0.046);

    border-radius: 10px ;

}

.grid-components{
    display: grid;
    grid-template-columns: repeat(3, 202px);
    grid-template-rows: repeat(2, 192px);
    column-gap: 35px;
    row-gap: 35px;
}
.width{
    width: 43px;
    height: 43px;
}
